{% extends 'dashboard/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
    All Products
{% endblock %}

{% block styles %}
    <link href="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="text-center py-3">All Special Offers</h3>
                    <div class="float-right">
                            <a href="#">
                                <button class="btn btn-primary btn-sm">Add offer</button>
                            </a>
                        </div>
                    <table class="table table-striped py-3" id="data-table">
                        <thead>
                        <tr>
                             <th>Offer Name</th>
                                <th>Starts</th>
                                <th>Ends</th>
                                <th>Value</th>
                                <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                             <tr>
                                <td> Black Friday offer </td>
                                <td>4th November 2019</td>
                                <td>3rd December 2021</td>
                                <td>50%</td>
                                <td> <span class="badge badge-pill badge-success">Active</span> </td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                             <tr>
                                <td>Easter special Offer</td>
                                <td>4th April 2020</td>
                                <td>20th April 2020</td>
                                <td>15%</td>
                                <td> <span class="badge badge-pill badge-danger">Expired</span> </td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                             <tr>
                                <td>Christmas mega sale</td>
                                <td>4th December 2020</td>
                                <td>2nd January 2021</td>
                                <td>20%</td>
                                <td> <span class="badge badge-pill badge-success">Active</span> </td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'dashboard/vendor/data-tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $('#data-table').DataTable();
    </script>
{% endblock %}
