{% extends 'dashboard/base.html' %} {% load static %} {% block title %} {{ title
}} All Feedback Messages {% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.css' %}"
/>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="text-center py-3">Received Feedback</h3>
        <table class="table table-striped" id="data_table">
          <thead>
            <tr>
              <th>Message</th>
              <th>Email</th>
              <th>Sent On</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for feedback in feedbacks %}
            <tr>
              <td>{{ feedback.message|truncatechars:25 }}</td>
              <td>{{ feedback.email }}</td>
              <td>{{ feedback.created_on }}</td>
              <td>
                <a href="{% url 'dashboard:feedback_details' feedback.pk %}">
                  <button class="btn btn-primary btn-sm">View</button>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr class="text-center">
              <td colspan="5">No feedback uploaded yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'dashboard/vendor/data-tables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.js' %}"></script>
<!--init datatable-->
<script>
  $(document).ready(function () {
    $("#data_table").DataTable({
      pageLength: 25,
    });
  });
</script>
{% endblock %}
