<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-products-tab" data-toggle="pill" href="#pills-products" role="tab"
      aria-controls="pills-products" aria-selected="true">Pieces Uploaded</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-events-tab" data-toggle="pill" href="#pills-events" role="tab"
      aria-controls="pills-events" aria-selected="false">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-custom-orders-tab" data-toggle="pill" href="#pills-custom-orders" role="tab"
      aria-controls="pills-custom-orders" aria-selected="false">Custom Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-purchases-tab" data-toggle="pill" href="#pills-purchases" role="tab"
      aria-controls="pills-purchases" aria-selected="false">Purchases</a>
  </li>
</ul>