{% extends 'dashboard/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
    All Product Categories
{% endblock %}

{% block styles %}
    <link href="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="text-center py-3">Product Categories</h3>
                    <div class="float-right">
                            <a href="#">
                                <button class="btn btn-primary btn-sm">Add Category</button>
                            </a>
                        </div>
                    <table class="table table-striped py-3" id="data-table">
                        <thead>
                        <tr>
                             <th>Name</th>
                                <th>No. of Products</th>
                        </tr>
                        </thead>
                        <tbody>
                             <tr>
                                <td>Air Conditioners</td>
                                <td>8</td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Home appliances</td>
                                <td>25</td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Water Heaters</td>
                                <td>75</td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Water Dispensers</td>
                                <td>47</td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                        <tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'dashboard/vendor/data-tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $('#data-table').DataTable();
    </script>
{% endblock %}
