{% extends 'dashboard/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
All Orders
{% endblock %}

{% block styles %}
<link href="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center py-3">Orders</h3>
                <table class="table table-striped" id="data-table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Requested By</th>
                            <th>Email</th>
                            <th>Artist</th>
                            <th>Order Status</th>
                            <th>Due Date</th>
                            <th>Placed On</th>
                            <th></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in  orders %}
                        <tr>
                            <td> {{ order.description|truncatechars:50 }} </td>
                            <td>{{ order.requested_by.get_full_name }}</td>
                            <td> {{order.email}} </td>
                            <td>{{ order.artist.get_full_name }}</td>
                            {% if order.is_complete %}
                            <td> <span class="badge badge-pill badge-success">Done</span> </td>
                            {% else %}
                            <td> <span class="badge badge-pill badge-warning">Pending Completion</span> </td>
                            {% endif %}
                            <td>{{ order.due_date }}</td>
                            <td>{{ order.created_on }}</td>
                            <td>{{ order.order_total }}</td>
                            {% if order.status  == 'placed' %}
                            <td> <span class="badge badge-pill badge-info">Pending Payment</span> </td>
                            {% elif order.status == 'paid' %}
                            <td> <span class="badge badge-pill badge-success">Paid</span> </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'dashboard:custom_order_details' order.pk %}">
                                    <button class="btn btn-primary btn-sm">View</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/vendor/data-tables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#data-table').DataTable({
            "pageLength": 25,
        });
    });
</script>
{% endblock %}