{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Product Details
{% endblock %} {% block styles %}
<link
  href="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.css' %}"
  rel="stylesheet"
/>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 p-3 text-center">
            <div class="py-3">
              {% if product.picture %}
              <img
                src="{{ product.picture.url }}"
                alt=" craftspace {{ product.name }}"
                class="w-50"
              />
              {% else %}
              <img
                src="{% static 'dashboard/img/product_icon.png' %}"
                alt="craftspace {{ product.name }}"
                class="w-50"
              />
              {% endif %}
              {% comment %} <p>
                <a href="{% url 'dashboard:product_edit' product.pk %}" class="mx-1">
                  <button class="btn btn-primary mt-3">Edit</button>
                </a>
              </p>  {% endcomment %}
            </div>
          </div>
          <div class="col-md-8">
            <div class="m-3 p-3 shadow-sm">
              <h3 class="text-center py-3">product Details</h3>
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Name</th>
                      <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                      <th>Category</th>
                      <td> <a href = {% url 'dashboard:product_category_details' product.category.pk %} {{ product.category.name }}</a></td>
                    </tr>
                    <tr>
                      <th>Price</th>
                      <td>Ksh {{ product.price }}</td>
                    </tr>
                    <tr>
                      <th>Quantities</th>
                      <td>{{ product.quantity }}</td>
                    </tr>
                    <tr>
                      <th>Quantities Available</th>
                      <td>{{ product.available }}</td>
                    </tr>
                    {% comment %} <tr>
                      <th>Quantities Available</th>
                      {% if product.ticket_price %}
                      <td>Ksh {{ product.ticket_price }}</td>
                      {% else %}
                      <td><span class="badge badge-pill badge-info"
                          >Free</span
                        ></td>
                      {% endif %}
                    </tr> {% endcomment %}
                    <tr>
                      <th>Uploaded On</th>
                      <td>{{ product.created_on }} </td>
                    </tr>
                    <tr>
                      <th>Last Update</th>
                      <td>{{ product.updated_at }} </td>
                    </tr>
                    <tr>
                      <th>Uploaded By</th>
                      <td> {{ product.uploaded_by.get_full_name }} </td>
                    </tr>
                    <tr>
                      <th>About</th>
                      <td>{{ product.description }}</td>
                    </tr>

                    <tr>
                      <th>Status</th>
                      <td>
                        {% if product.is_approved %}
                        <span class="badge badge-pill badge-success"
                          >Approved</span
                        >
                        {% else %}
                        <span class="badge badge-pill badge-danger"
                          >Rejected</span
                        >
                        {% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center py-3">
                   {% if product.is_approved %}
                   <a
                    href="{% url 'dashboard:product_confirm_reject' product.pk %}"
                    class="mx-1"
                  >
                    <button class="btn btn-warning btn-md">Reject</button>
                  </a>
                  {% else %}
                  <a
                    href="{% url 'dashboard:product_approve_action' product.pk %}"
                    class="mx-1"
                  >
                    <button class="btn btn-success btn-md">
                      Approve
                    </button>
                  </a>
                  {% endif %}
                   <button class="btn btn-primary btn-md" data-toggle="modal"
                                        data-target="#productDescription">View Content</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productDescription" tabindex="-1" role="dialog" aria-labelledby="productDescriptionBody"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDescriptionBody">{{ product.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ product.description|safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
    <script src="{% static 'dashboard/vendor/data-tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.js' %}"></script>
    <!--init datatable-->
    <script src="{% static 'dashboard/vendor/js-init/init-datatable.js' %}"></script>
<script>
  $("#data-table").DataTable();
</script>
{% endblock %}
