{% extends 'dashboard/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
    All Products
{% endblock %}

{% block styles %}
    <link href="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="text-center py-3">All Products</h3>
                    <div class="float-right">
                            <a href="#">
                                <button class="btn btn-primary btn-sm">Add Product</button>
                            </a>
                        </div>
                    <table class="table table-striped py-3" id="data-table">
                        <thead>
                        <tr>
                             <th>Name</th>
                                <th>Sku</th>
                                <th>Category</th>
                                <th>Units</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                             <tr>
                                <td>LG plasma 4K tv</td>
                                <td>#4838</td>
                                <td>Electronics</td>
                                <td>67</td>
                                <td>70000</td>
                                <td> <span class="badge badge-pill badge-Info"> In Stock</span> </td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                             <tr>
                                <td>LG plasma 4K tv</td>
                                <td>#4838</td>
                                <td>Electronics</td>
                                <td>67</td>
                                <td>70000</td>
                                <td> <span class="badge badge-pill badge-danger"> Sold out</span> </td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                             <tr>
                                <td>LG plasma 4K tv</td>
                                <td>#4838</td>
                                <td>Electronics</td>
                                <td>67</td>
                                <td>70000</td>
                                <td> <span class="badge badge-pill badge-warning"> Almost sold out</span> </td>
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'dashboard/vendor/data-tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $('#data-table').DataTable();
    </script>
{% endblock %}
