{% extends 'dashboard/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
All Products
{% endblock %}

{% block styles %}
<link href="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center py-3">All Products</h3>
                <table class="table table-striped" id="data-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Has 3D</th>
                            <th>Uploaded By</th>
                            <th>Uploaded On</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td><a
                                    href="{% url 'dashboard:product_category_details' product.category.pk %}">{{ product.category.name }}</a>
                            </td>
                            <td>{{ product.description|truncatechars:50 }} </td>
                            {% if product.spin_image %}
                            <td> <span class="badge badge-pill badge-success">Yes</span> </td>
                            {% else %}
                            <td> <span class="badge badge-pill badge-info">No</span> </td>
                            {% endif %}
                            <td>{{ product.uploaded_by.get_full_name }} </td>
                            <td>{{ product.created_on }} </td>
                            <td>
                                <a href="{% url 'dashboard:product_details' product.pk %}">
                                    <button class="btn btn-primary btn-sm">View</button>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr class="text-center">
                            <td colspan="5">No Art Pieces Uploaded Yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/vendor/data-tables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/data-tables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#data-table').DataTable({
            "pageLength": 25,
        });
    });
</script>
{% endblock %}